#header {
  background-image: url("../images/header-bkg.jpg");
  border-top: 4px solid $blue;
  height: 100vh;
  max-height: 930px;
  position: relative;
  background-size:auto calc(100% + 300px);

  &:before {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.50) 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  > .container {
    z-index: 2;
  }

  h1 {
    height: 40px;
    background: url("../images/logo-white.png") no-repeat center;
  }
}
@media (min-width:$bp-min-m) {
  #header {
    border-top-width: 8px;

    h1 {
      height: 56px;
    }
  }
}
