@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#section-solutions {
  .solutions,
  h2 {
    opacity: 0;

    &.viewed {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }
  }

  .solutions.viewed .manager {
    animation-delay: 300ms;
  }

  .solutions.viewed .tenant {
    animation-delay: 750ms;
  }
}

#section-principles {
  .principle,
  .principles,
  h2 {
    opacity: 0;
  }

  &.viewed {
    .principle,
    .principles,
    h2 {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }

    .principle,
    .principles {
      animation-name: fadeIn;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }

    .principles {
      animation-delay: 250ms;
    }

    .innovation {
      animation-delay: 500ms;
    }

    .flexibility {
      animation-delay: 800ms;
    }

    .support {
      animation-delay: 1200ms;
    }

    .company-breif {
      animation-delay: 1500ms;
    }
  }
}

#request {
  .card {
    opacity: 0;
  }

  &.viewed {
    .card {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }
  }
}
