@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// Hero

#header {
  .btn-group,
  h1,
  h2 {
    animation-duration: 500ms;
    animation-name: fadeInDown;
    animation-fill-mode: both;
  }

  h1 {
    animation-delay: 400ms;
  }

  h2 {
    animation-delay: 600ms;
  }

  .btn-group {
    animation-delay: 800ms;
  }
}
// Solutions

#section-solutions {
  h2 {
    opacity: 0;

    &.viewed {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }
  }

  .solutions .solution {
    opacity: 0;
  }

  .solutions.viewed .solution {
    animation-name: fadeInDown;
    animation-duration: 750ms;
    animation-fill-mode: both;
  }

  .solutions.viewed .manager {
    animation-delay: 300ms;
  }

  .solutions.viewed .tenant {
    animation-delay: 750ms;
  }
}

#section-principles {
  > h2 {
    opacity: 0;

    &.viewed {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }
  }
}

.principles {
  opacity: 0;

  &.viewed {
    animation-name: fadeInDown;
    animation-duration: 750ms;
    animation-fill-mode: both;

    .principle {
      animation-name: fadeIn;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }

    .innovation {
      animation-delay: 500ms;
    }

    .flexibility {
      animation-delay: 800ms;
    }

    .support {
      animation-delay: 1200ms;
    }

    .company-breif {
      animation-delay: 1500ms;
    }
  }
}

#request {
  .card {
    opacity: 0;
  }

  &.viewed {
    .card {
      animation-name: fadeInDown;
      animation-duration: 750ms;
      animation-fill-mode: both;
    }
  }
}
