.cover {
  background-size: cover!important;
}

.contain {
  background-size: contain!important;
}

// Background Colors

.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: $charcoal;
}

.bg-blue {
  background-color: $blue;
}

.bg-white {
  background-color: #fff;
}


@media (min-width:$bp-min-ns) {
  .cover-ns {
    background-size: cover!important;
  }

  .contain-ns {
    background-size: contain!important;
  }
}
@media (min-width:$bp-min-m) {
  .cover-m {
    background-size: cover!important;
  }

  .contain-m {
    background-size: contain!important;
  }
}
@media (min-width:$bp-min-l) {
  .cover-l {
    background-size: cover!important;
  }

  .contain-l {
    background-size: contain!important;
  }
}
