.btn-group,
.btn-group-vertical {
  position: relative;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  > [class*="btn"] {
    position: relative;
    flex: 0 1 auto;
  }

  [class*="btn"] + [class*="btn"]{
    margin-left: 1.5rem;
  }
}
