@mixin button($size, $color) {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 500;
  line-height: 1.2;
  transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease, transform 200ms ease;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:focus {
    outline: 0;
  }
  @if $color == white {
    color: #fff;
    border-color: $white;
    background-color: $white;
  }
  @if $color == white-outlined {
    color: $white;
    border-color: $white;
    background-color: transparent;

    &:hover,
    &.active {
      background-color: #fff;
      color: $charcoal;
    }
  }
  @if $color == blue {
    color: #fff;
    border-color: rgba(0,0,0,0.24);
    background-color: $blue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);

    &:hover,
    &.active {
      background-color: tint($blue, 15%);
    }
  }
  @if $size == xs {
    padding: 12px 20px;
    font-size: 12px;
  }
  @if $size == sm {
    padding: 12px 20px;
    font-size: 12px;
    @media (min-width: $bp-min-m) {
      padding: 12px 24px;
      font-size: 14px;
    }
  }
  @if $size == md {
    padding: 12px 20px;
    font-size: 0.9rem;
    @media (min-width: $bp-min-m) {
      padding: 16px 32px;
      font-size: 1rem;
    }
  }
  @if $size == lg {
    padding: 16px 40px;
    font-size: 1.125rem;
  }
}

.btn-white-sm {
  @include button(sm, white);
}

.btn-white {
  @include button(md, white);
}

.btn-white-outlined-xs {
  @include button(xs, white-outlined);
}

.btn-white-outlined-sm {
  @include button(sm, white-outlined);
}

.btn-white-outlined {
  @include button(md, white-outlined);
}

.btn-white-outlined-lg {
  @include button(lg, white-outlined);
}

.btn-blue-xs {
  @include button(xs, blue);
}

.btn-blue-sm {
  @include button(sm, blue);
}

.btn-blue {
  @include button(md, blue);
}

.btn-blue-lg {
  @include button(lg, blue);
}
