@mixin button($size, $color) {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: normal;
  line-height: 1.2;

  &:focus {
    outline: 0;
  }
  @if $color == white {
    color: #fff;
    border-color: $white;
    background-color: $white;
  }
  @if $color == white-outlined {
    color: $white;
    border-color: $white;
    background-color: transparent;
  }
  @if $color == blue {
    color: #fff;
    border-color: rgba(0,0,0,0.24);
    background-color: $blue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  }
  @if $size == sm {
    padding: 16px 32px;
    font-size: 14px;
  }
  @if $size == md {
    padding: 16px 32px;
    font-size: 1rem;
  }
}

.btn-white-sm {
  @include button(sm, white);
}

.btn-white {
  @include button(md, white);
}

.btn-white-outlined-sm {
  @include button(sm, white-outlined);
}

.btn-white-outlined {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  @include button(md, white-outlined);
}

.btn-blue-sm {
  @include button(sm, blue);
}

.btn-blue {
  @include button(md, blue);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
