// Box Shadows

.shadow-1 {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.shadow-2 {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
// Text Shadows
.t-shadow-1 {
  text-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.t-shadow-2 {
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
